{% trans_default_domain 'FOSUserBundle' %}

<div class="modif-password-form">
    <h3 class="modif-password-title"> Modifier le mot de passe </h3>
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        <div class="form-group row">
            {{ form_label(form.plainPassword.first, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.plainPassword.second, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </div>
        <div class="submit-container">
            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn-submit"/>
        </div>
    {{ form_end(form) }}
    </div>
</div>
