<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ADAM{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/front/css/libs/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/front/css/libs/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/front/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/front/css/libs/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/front/css/libs/datatables.min.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="{{asset('bundles/front/js/libs/jquery-2.2.2.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/front/js/libs/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/front/js/libs/datatables.min.js')}}"></script>
    </head>
    <body>
        <div id="wrap">
            {% include ':default:navbar.html.twig' %}
            <div class="block-container container-fluid">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% include ':default:footer.html.twig' %}

        {% block javascripts %}
        {% endblock %}
        {# Bloc JavaScript en fin de page pour plus de rapidité dans le chargement #}
    </body>
</html>
