{% if not app.user  %}
    <script type="text/javascript">
        $(function() {
            $('#myModal').modal({
                backdrop: "static",
                keyboard: false
            });
        });
    </script>
    {% include 'AppBundle:advert:popinIndex.html.twig' %}
{% endif %}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div align="right">
        <a href="{{ path('annonce_new') }}" class="btn btn-default btn-add-advert" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Créer une annonce
        </a>
    </div>
{% endif %}
<div align="center" class="filter-container">
    <div class="form-group row">
        {{ form_start(filter_form, {'action': path('advert_filter')}) }}
            {{ form_widget(filter_form) }}
            {{ form_errors(filter_form) }}
            <input type="submit" value="Appliquer" class="btn btn-default" />
        {{ form_end(filter_form) }}
     </div>
</div>

{% for advert in pagination %}
    <br>
     <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <div id="postlist">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h3 class="pull-left">{{ advert.title }}</h3>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4 class="pull-right">
                                        <small>{{ advert.author.firstname }} {{ advert.author.lastname }}</small><br>
                                        <small>Modifié le <em> {% if advert.updatedAt %}{{ advert.updatedAt|localizeddate('full', 'none') }}{% endif %} </em></small>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
                        <div class="panel-body">
                            {{ advert.content|raw  }}
                        </div>
                    {% endif %}

                        <div class="panel-footer">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <a href="{{ path('annonce_index', { categoryId: advert.category.id }) }}"><span class="label label-default pull-left">{{ advert.category }}</span></a>
                                    </div>
                                    <div class="col-sm-4">
                                        <h5 class="pull-right">
                                            {% if advert.category == "Événement" and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                                {% if app.user in advert.users %}
                                                    <button id="buttonParticipate{{ advert.id }}" class="btn btn-danger">Je ne participe pas</button>
                                                {% else %}
                                                    <button id="buttonParticipate{{ advert.id }}" class="btn btn-success">Je participe</button>
                                                {% endif %}
                                            {% endif %}
                                            {% if advert.author == app.user or is_granted("ROLE_ADMIN") %}
                                                <a type="button" href="{{ path('annonce_edit', { 'id': advert.id }) }}" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-pencil"></i></a>

                                                <a class="btn btn-danger btn-circle supress" href="#" data-toggle="modal" data-target="#ModalDeleteAdvert" data-href="{{ path('advert_remove', {'id': advert.id}) }}"><i class="glyphicon glyphicon-remove"></i></a>
                                                {% include 'AppBundle:advert:popinDeleteForm.html.twig' %}
                                            {% endif %}
                                        </h5>
                                    </div>
                                </div>
                                <div class="alert alert-success participate" id="alert_participate_success{{ advert.id }}" role="alert">
                                    Votre participation a bien été prise en compte !
                                </div>
                                 <div class="alert alert-danger participate" id="alert_participate_danger{{ advert.id }}" role="alert">
                                    <strong>Désolé ! Une erreur est survenue.</strong>
                                    Votre participation n'a pas été prise en compte
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#buttonParticipate{{ advert.id }}').click(function() {
            $.ajax({
                url: "{{ path('annonce_participate', { 'id': advert.id }) }}",
                dataType: "json",
                success: function(response) {
                    var button = $('#buttonParticipate{{ advert.id }}');
                    var alertSucess = $('#alert_participate_success{{ advert.id }}');

                    if (response == 'YES') {
                        button.removeClass("btn-success");
                        button.addClass("btn-danger");
                        button.html('Je ne participe pas');
                    } else {
                        button.removeClass("btn-danger");
                        button.addClass("btn-success");
                        button.html('Je participe');
                    }

                    alertSucess.fadeToggle(200, function(){
                        alertSucess.fadeOut(3500);
                    });
                },
                error: function() {
                    var alertError = $('#alert_participate_danger{{ advert.id }}');

                    alertError.fadeToggle(200, function(){
                        alertError.fadeOut(3500);
                    });
                }
            });
        });
    </script>
{% endfor %}

{% block javascripts %}
    <script type="text/javascript">
        $(".supress").click(function(){
            var actionadvert = $(this).attr('data-href');
            $('#removeadvert').attr('action', actionadvert);
        })
    </script>
{% endblock %}
