{% if not app.user  %}
    <script type="text/javascript">
        $(function() {
            $('#myModal').modal({
                backdrop: "static",
                keyboard: false
            });
        });
    </script>
    {% include 'AppBundle:advert:popinIndex.html.twig' %}
{% endif %}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div align="right">
        <a href="{{ path('annonce_new') }}" class="btn btn-default btn-add-advert" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Créer une annonce
        </a>
    </div>
{% endif %}
<div align="center" class="filter-container">
    <div class="form-group row">
        {{ form_start(filter_form, {'action': path('advert_filter')}) }}
            {{ form_widget(filter_form) }}
            {{ form_errors(filter_form) }}
            <input type="submit" value="Appliquer" class="btn btn-default" />
        {{ form_end(filter_form) }}
     </div>
</div>

{% for advert in pagination %}
    {% include 'AppBundle:advert:_advertItem.html.twig' %}
{% endfor %}

{% block javascripts %}
    <script type="text/javascript">
        $(".supress").click(function(){
            var actionadvert = $(this).attr('data-href');
            $('#removeadvert').attr('action', actionadvert);
        })
    </script>
{% endblock %}

{% include 'AppBundle:advert:popinDeleteForm.html.twig' %}