{% extends 'base.html.twig' %}

{% block body %}
<div class="editAdvert">
    <h1>Modifier une annonce</h1>

    {{ form_start(edit_form) }}
         <div class="form-group row">
                {{ form_label(edit_form.title, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(edit_form.title, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.title) }}
                </div>
                
            </div>
            <div class="form-group row">
                {{ form_label(edit_form.category, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(edit_form.category, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.category) }}
                </div>  
            </div>
             <div class="form-group row hidden" id="edit_form-evenementDate">
                {{ form_label(edit_form.evenementDate, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(edit_form.evenementDate, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(edit_form.evenementDate) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 input-group date" id="contentsAdvert">
                    <div class="col-sm-12">
                        {{ form_widget(edit_form.content, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(edit_form.content) }}
                </div>
            </div>
        <center><input type="submit" value="Modifier l'annonce" class="btn btn-lg" /></center>
    {{ form_end(edit_form) }}

    <a href="{{ path('annonce_index') }}" type="button" class="btn btn-warning">Retour</a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Supprimer</button>
    {% include 'AppBundle:advert:popinDeleteForm.html.twig' %}
    
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
       $(document).ready( function() {
            $('#advert_category').change(function() {
                if ($('#advert_category option:selected').text() === 'Événements'){
                    $('#form-evenementDate').removeClass("hidden");
                }
                else{
                    $('#form-evenementDate').addClass("hidden");
                }
            });
        });
    </script>
{% endblock %}
