{% extends 'base.html.twig' %}

{% block body %}
<section class="pageAdvertList">
    <h1>Listes des annonces</h1>

    {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY')  %}
        {% block javascripts %}
            <script type="text/javascript">
                $('#myModal').modal({
                    backdrop: "static",
                    keyboard: false
                }); 
            </script>
        {% endblock %}
        {% include 'AppBundle:advert:popinIndex.html.twig' %}
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
        <div align="right">
            <a href="{{ path('annonce_new') }}" class="btn btn-default" role="button">Créer une annonce</a>
        </div>
    {% endif %}

    {% for advert in pagination %}
         
        <br>
         <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <div id="postlist">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h3 class="pull-left">{{ advert.title }}</h3>
                                        </div>
                                        <div class="col-sm-3">
                                            <h4 class="pull-right">
                                            <small>{{ advert.author.firstname }} {{ advert.author.lastname }}</small><br>
                                            <small><em>{% if advert.createdAt %}{{ advert.createdAt|localizeddate('full', 'none') }}{% endif %} </em></small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                {{ advert.content|raw  }}
                            </div>
                            <div class="panel-footer">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <span class="label label-default pull-left">{{ advert.category }}</span>
                                        </div>
                                        {% if advert.author == app.user or is_granted("ROLE_ADMIN") %}
                                            <div class="col-sm-3">
                                                <h5 class="pull-right">
                                                    <a type="button" href="{{ path('annonce_edit', { 'id': advert.id }) }}" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-pencil"></i></a>
                                                    <a type="button" href="{{ path('annonce_delete', { 'id': advert.id }) }}" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-remove"></i></a>
                                                </h5>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
    <div class="navigation pull-right">
        {{ knp_pagination_render(pagination) }}
    </div>
</section>
{% endblock %}