{% extends 'base.html.twig' %}

{% block body %}
<section class="pageAdvertList">
    <h1>Listes des annonces</h1>

    {% if not app.user  %}
        {% include 'AppBundle:advert:popinIndex.html.twig' %}
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
        <div align="right">
            <a href="{{ path('annonce_new') }}" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Créer une annonce
            </a>
        </div>
    {% endif %}

    {% for advert in pagination %}
        <br>
         <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <div id="postlist">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h3 class="pull-left">{{ advert.title }}</h3>
                                        </div>
                                        <div class="col-sm-3">
                                            <h4 class="pull-right">
                                            <small>{{ advert.author.firstname }} {{ advert.author.lastname }}</small><br>
                                            <small>Modifié le <em> {% if advert.updatedAt %}{{ advert.updatedAt|localizeddate('full', 'none') }}{% endif %} </em></small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
                            <div class="panel-body">
                                {{ advert.content|raw  }}
                            </div>
                        {% endif %}

                            <div class="panel-footer">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <span class="label label-default pull-left">{{ advert.category }}</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <h5 class="pull-right">
                                                {% if advert.category == "Événement" %}
                                                    {% if app.user in advert.users %}
                                                        <a type="button" id="buttonParticipate{{ advert.id }}" class="btn btn-danger">Je ne participe pas</a>
                                                    {% else %}
                                                        <a type="button" id="buttonParticipate{{ advert.id }}" class="btn btn-success">Je participe</a>
                                                    {% endif %}
                                                {% endif %}
                                                {% if advert.author == app.user or is_granted("ROLE_ADMIN") %}
                                                    <a type="button" href="{{ path('annonce_edit', { 'id': advert.id }) }}" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-pencil"></i></a>
                                                    <a type="button" href="{{ path('annonce_delete', { 'id': advert.id }) }}" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-remove"></i></a>
                                                {% endif %}
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="alert_participate_success{{ advert.id }}" class="alert alert-success alert-dismissible fade in" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                                <span aria-hidden="true">x</span>
                                            </button>
                                            Votre participation a bien été modifiée ! 
                                        </div>

                                        <div id="alert_participate_danger{{ advert.id }}" class="alert alert-danger alert-dismissible fade in" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                                <span aria-hidden="true">x</span>
                                            </button>
                                            <strong>Désolé ! Une erreur est survenue.</strong>
                                            Votre participation n'a pas été prise en compte 
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function(){
                $('#alert_participate_success{{ advert.id }}').hide();
                $('#alert_participate_danger{{ advert.id }}').hide();
            });
        
            $('#buttonParticipate{{ advert.id }}').click(function() {
                $.ajax({
                    url: "{{ path('annonce_participate', { 'id': advert.id }) }}",
                    dataType: "json",
                    success: function(response) {
                        var button = $('#buttonParticipate{{ advert.id }}');
                        $('#alert_participate_success{{ advert.id }}').show();
                        if (response == 'YES') {
                            button.removeClass("btn-success");
                            button.addClass("btn-danger");

                            button.html('Je ne participe pas');
                        } else {
                            button.removeClass("btn-danger");
                            button.addClass("btn-success");

                            button.html('Je participe');
                        }
                    },
                    error: function() {
                        $('#alert_participate_danger{{ advert.id }}').show();
                    }
                });
            });
        </script>
    {% endfor %}
     
    <div class="navigation pull-right">
        {{ knp_pagination_render(pagination) }}
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#myModal').modal({
            backdrop: "static",
            keyboard: false
        });
    </script>
{% endblock %}