{% extends 'base.html.twig' %}

{% block body %}
<div class="form-advert">
    <h1>Poster une annonce</h1>

    {{ form_start(form) }}
            <div class="form-group row">
                {{ form_label(form.title, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.title) }}
                </div>
                
            </div>
            <div class="form-group row">
                {{ form_label(form.category, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.category) }}
                </div>  
            </div>
             <div class="form-group row" style="display:none;" id="form-evenementDate">
                {{ form_label(form.evenementDate, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
                <div class="col-sm-9 input-group date" id="evenDate">
                    <div class="col-sm-12">
                        {{ form_widget(form.evenementDate, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    {{ form_errors(form.evenementDate) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 input-group date" id="contentsAdvert">
                    <div class="col-sm-12">
                        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.content) }}
                </div>
            </div>
        <center><input type="submit" value="Poster l'annonce" class="btn btn-lg" /></center>
    {{ form_end(form) }}
    <a href="{{ path('annonce_index') }}" class="btn btn-danger" role="button">Retour</a>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/front/css/libs/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('bundles/front/js/libs/Moment.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/front/js/libs/bootstrap-datetimepicker.js')}}"></script>

    <script>
    $(document).ready( function() {
            $('#advert_category').change(function() {
                var evenementDate = document.getElementById('form-evenementDate');
                if ($(this).val() == '1'){
                    evenementDate.style.display = '';
                }
                else{
                    evenementDate.style.display = 'none';
                }
            });

            $('#evenDate').datetimepicker();
        });
    </script>
{% endblock %}
