{% extends 'base.html.twig' %}

{% block body %}
    <section class="pageAdvertList">
    <h1>Advert</h1>

      <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <div id="postlist">
                        <div class="panel">
                                <div class="panel-heading">
                                    <div class="text-center">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <h3 class="pull-left">{{ advert.title }}</h3>
                                            </div>
                                            <div class="col-sm-3">
                                                <h4 class="pull-right">
                                                <small>{{ advert.author.firstname }} {{ advert.author.lastname }}</small><br>
                                                <small><em>{% if advert.createdAt %}{{ advert.createdAt|localizeddate('full', 'none') }}{% endif %} </em></small>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="panel-body">
                                {{ advert.content|raw  }}
                            </div>
                            
                            <div class="panel-footer">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <span class="label label-default pull-left">{{ advert.category }}</span>
                                        </div>
                                        {% if advert.author == app.user %}
                                            <div class="col-sm-3">
                                                <h5 class="pull-right">
                                                    <a type="button" href="{{ path('annonce_edit', { 'id': advert.id }) }}" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-pencil"></i></a>
                                                    {{ form_start(delete_form) }}
                                                        <input type="submit" class="btn btn-danger btn-circle" value="X">
                                                    {{ form_end(delete_form) }}
                                                </h5>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ path('annonce_index') }}" class="btn btn-default" type="button"> Retour aux annonces</a>
        </div>
</section>
{% endblock %}
