<div class="form-register">

{% if action == 'new' %}
	{{ form_start(form, {'method': 'post', 'action': path('mission_create'), 'attr': {'class': 'fos_user_registration_register'}}) }}
{% else %}
	{{ form_start(form, {'method': 'post', 'action': path('mission_update', {id: mission.id}), 'attr': {'class': 'fos_user_registration_register' }}) }}
{% endif %}

	<div class="form-group row">
	    {{ form_label(form.name, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
	    <div class="col-sm-9">
	    	{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
	    	{{ form_errors(form.name) }}
	    </div>
	    
	</div>

	<div class="form-group row">
	    {{ form_label(form.businessName, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
	    <div class="col-sm-9">
	    	{{ form_widget(form.businessName, {'attr': {'class': 'form-control'}}) }}
	    	{{ form_errors(form.businessName) }}
	    </div>
    </div>
	
	<div class="form-group row">
		{{ form_label(form.content, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
	    <div class="col-sm-9">
	    	{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
	    	{{ form_errors(form.content) }}
	    </div>  
	</div>

	<span class="row"> * champs obligatoires</span>

    <input type="submit" value="Valider" class="btn btn-register" />
{{ form_end(form) }}
</div>