{% extends "base.html.twig" %}

{% block body %}
    <div class="profil col-sm-12">
        <ul class="profil-menu nav nav-pills nav-stacked col-sm-2">
            <li class="profil-title"><a><b>Profil</b></a></li>
            <li><a href="{{ path('fos_user_profile_show') }}">Informations générales</a></li>
            <li class="active"><a href="{{ path('mission_index') }}">Expérience professionnelle</a></li>
        </ul>
        <div class="profil-container col-sm-10">
            {% if mission %}
                 <div class="container">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-9">
                            <div id="postlist">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="text-center">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <h3 class="pull-left">{{ mission.name }} ({{ mission.businessName }})</h3>
                                                </div>
                                                <div class="col-sm-3">
                                                    <h4 class="pull-right">
                                                    <small>Modifié le <em> {% if mission.updatedAt %}{{ mission.updatedAt|localizeddate('full', 'none') }}{% endif %} </em></small>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        {{ mission.content|raw  }}
                                    </div>
                                    <div class="text-center">
                                        <h5 class="pull-right">
                                            <a type="button" href="{{ path('mission_edit', { 'id': mission.id }) }}" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <a class="supress btn btn-danger btn-circle" type="button" href="#" data-toggle="modal" data-target="#ModalDeleteMission" data-href="{{ path('mission_delete', {'id': mission.id}) }}">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <h1>Vous n'avez pas encore ajouté d'expérience professionnelle</h1>
                <div align="center">
                   <a href="{{ path('mission_new') }}" class="btn btn-default" role="button">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Ajouter une mission
                   </a>
                </div>
            {% endif %}
        </div>
    </div>
    {% include 'AppBundle:Mission:popinDeleteMission.html.twig' %}
{% endblock body %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $( ".supress" ).click(function() {
                var actionmission = $(this).data('href');
                $('#removemission').attr('action',actionmission);
            });
        });
    </script>
{% endblock %}
