{% extends "base.html.twig" %}

{% block body %}

<div class="form-register">
	{{ form_start(form, {'method': 'post', 'action': path('profile_password_update'), 'attr': {'class': 'fos_user_registration_register'}}) }}
		<div class="form-group row">
		    {{ form_label(form.plainPassword.first, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
		    <div class="col-sm-9">
		    	{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
		    	{{ form_errors(form.plainPassword.first) }}
		    </div>
		</div>
		
		<div class="form-group row">
		    {{ form_label(form.plainPassword.second, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
		    <div class="col-sm-9"> 
		    	{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
		    	{{ form_errors(form.plainPassword.second) }}
		    </div>
		</div>
		<input type="submit" value="Changer le mot de passe" class="btn btn-register" />
	{{ form_end(form) }}
</div>

{% endblock body %}