{% trans_default_domain 'FOSUserBundle' %}

<div class="form-register">
	<div class="form-group row">
	    <div class="col-sm-9">
	  		Prénom : {{ user.firstname }}
	    </div>
	</div>

	<div class="form-group row">
	    <div class="col-sm-9">
	    	Nom : {{ user.lastname }}
	    </div>
    </div>

    <div class="form-group row">
	    <div class="col-sm-9 input-group date" id="birthday">
	    	<div class="col-sm-12">
		    	Date de naissance : {{ user.birthday|date("m/d/Y") }}
		    </div>
	    </div>
	</div>

	<div class="form-group row">
	    <div class="col-sm-9">
	    	Email : {{ user.email }}
		</div>
	</div>
	
	<div class="form-group row">
	    <div class="col-sm-9">
	    	Type de diplome : {{ user.graduate }}
	    </div>  
	</div>
	
	<div class="form-group row">
	    <div class="col-sm-9 input-group date" id="graduateYear">
	    	<div class="col-sm-12">
		  		Année d'obtention du diplome : {{ user.graduateYear }}
		    </div>
	    </div>
	</div>
</div>
