{% extends 'base.html.twig' %}
 
 {% block body %}
    <br>
    <div class="form-advert">
        <form>
            <div class="form-group row">
                {{ form_label(form.title, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.title) }}
                </div>
                
            </div>
            <div class="form-group row">
                {{ form_label(form.category, null, { 'label_attr': {'class': 'col-sm-3 form-control-label'}}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.category) }}
                </div>  
            </div>
            <div class="form-group row">
                <div class="col-sm-12 input-group date" id="contentsAdvert">
                    <div class="col-sm-12">
                        {{ form_widget(form.field, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.field) }}
                </div>
            </div>
            <input type="submit" value="{{ 'advert.submit'|trans }}" class="btn btn-register" />
        </form>
    </div>
 {% endblock %} 